OCR_SERVICE_TOKEN="change-me-for-non-local-deployments"
OCR_ENGINE="rapidocr"
OCR_MIN_LINE_CONFIDENCE="0.30"
OCR_MAX_IMAGE_BYTES="5242880"
OCR_MAX_IMAGE_PIXELS="25000000"
OCR_HOST="127.0.0.1"
OCR_PORT="8000"
